:root {
  --clr-orangish: #ee4a1e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Oswald, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

figure {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 40rem;
  position: relative;
  bottom: -18em;
  right: 30em;
  z-index: -1;
}

figure + img {
  margin-top: 2em;
}

.video-container img {
  width: 100%;
  object-fit: cover;
}

.smiley-icon {
  display: inline-block;
  max-width: 7.813rem;
  margin-left: 0.25em;
}

.smiley-icon-mobile {
  display: none;
}

.play-icon {
  max-width: 5rem;
}

.hero-img {
  max-width: 31.25rem;
  transform: rotate(-2.36deg);
}

#about > div > picture > img {
  max-height: 37.5rem;
}

.organic-meats-logo {
  max-width: 11.141rem;
  position: relative;
  top: -4rem;
  left: 2rem;
}

#about > div:nth-child(2) > img {
  max-width: 40rem;
}

.menu-btn {
  display: none;
  cursor: pointer;
  background: transparent;
  border: 0;
  margin-left: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1em;
}

nav a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
}

h1 {
  font-size: clamp(2.5rem, -0.625rem + 8.333vw, 6.875rem);
  font-family: "Bowlby One", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: -0.069rem;
  line-height: 100%;
  margin-bottom: 0;
}

h1 span {
  display: block;
}

.section-about h2,
.section-about h3 {
  color: var(--clr-orangish);
  font-family: "Bowlby One", sans-serif;
  font-size: 2rem;
  font-size: clamp(2rem, 1.5rem + 2.5vw, 4.5rem);
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.045rem;
  text-transform: uppercase;
}

.row-big-gap h2 {
  max-width: 60%;
}

.subtitle {
  color: #000;
}

.section-about p {
  color: var(--clr-orangish);
}

.subtitle,
.section-about p {
  font-size: clamp(1.125rem, 0.857rem + 0.714vw, 1.5rem);
  font-weight: 400;
  line-height: 150%;
}

figcaption {
  margin: 1em 0;
  padding: 0;
  color: #000;
  text-align: center;
  font-family: Oswald, sans-serif;
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.6rem + 0.75vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

h4 {
  color: #fff;
  font-family: "Bowlby One", sans-serif;
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.025rem;
  text-transform: uppercase;
  margin: 0;
}

.browse-btn {
  display: block;
  cursor: pointer;
  border: 0;
  background-color: black;
  color: white;
  padding: 1em 4em;
  font-family: inherit;
  font-size: clamp(1.25rem, 1.071rem + 0.476vw, 1.5rem);
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  margin-block: 1em;
}

.container {
  padding: 1em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-orangish);
  padding: 2.125em 3.125em;
  position: relative;
}

.section-hero {
  background-color: var(--clr-orangish);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 1.125em 3.125em;
  position: relative;
}

.section-about {
  padding: 1em 2em;
}

.video-container {
  position: relative;
}

.play-container {
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(50%, -50%);
  display: flex;
  align-items: center;
  gap: 1em;
}

.row {
  display: flex;
}

.row-big-gap {
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 22em;
}

.row-small-gap {
  justify-content: space-between;
  align-items: center;
  gap: 10em;
  margin-bottom: 3em;
}

.column {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 56.25rem) {
  .menu-btn {
    display: block;
  }

  nav ul {
    display: none;
  }

  nav ul.active {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    text-align: center;
    background-color: var(--clr-orangish);
    width: 100%;
    height: 100vh;
    z-index: 10;
  }

  .smiley-icon-mobile {
    display: block;
    margin-top: 1em;
  }

  .play-icon {
    max-width: 4rem;
  }

  #about > div:nth-child(2) > img {
    max-width: 17rem;
  }

  h1 span .smiley-icon {
    display: none;
  }

  .hero-left {
    z-index: 1;
  }

  .subtitle {
    margin-bottom: 6em;
  }

  .hero-img {
    max-width: 16.25rem;
    position: absolute;
    top: 5em;
    right: 1em;
  }

  .organic-meats-logo {
    max-width: 7.518rem;
  }

  .play-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-10%, -55%);
  }

  .row {
    display: block;
  }

  figure {
    position: unset;
  }

  .row-big-gap {
    margin-bottom: 2em;
  }
}
